[Desktop Entry]
Name=WebAppReader
Comment=Offline web content reader
Exec=webappreader %U
Icon=logo
Terminal=false
Type=Application
Categories=Utility
