altgraph
beautifulsoup4
certifi
charset-normalizer
click
fake-headers
greenlet
html5lib
idna
Jinja2
MarkupSafe
mypy-extensions
packaging
pathspec
platformdirs
PyQt6==6.4.2
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
PyQt6-WebEngine==6.4
PyYAML
requests
setuptools
six
soupsieve
SQLAlchemy
typing_extensions
urllib3
webencodings
