beautifulsoup4
certifi==2023.7.22
charset-normalizer==3.3.1
fake-headers==1.0.2
greenlet==3.0.1
html5lib==1.1
idna==3.4
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
pyqtdarktheme==0.1.7
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.22
typing_extensions
urllib3==2.0.7
webencodings==0.5.1
pyinstaller